h2.form-auth-heading
  | Sign up
= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :name
    = f.input :avatar, as: :file, label_html: { class: 'btn btn-primary' }
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
    = f.association :roles, as: :check_boxes, collection: Role.all, label_method: -> (role) { t role.name }
  .form-actions
    = f.button :submit, 'Sign up'
= render "devise/shared/links"
