= simple_form_for @user do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :name
    = f.input :avatar, as: :file, label_html: { class: 'btn btn-primary' }
    = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it"
    = f.input :password_confirmation
    = f.association :roles, as: :check_boxes, collection: Role.all, label_method: -> (role) { t role.name }
  .form-actions
    = f.button :submit
