h1 Editing user

== render 'form'

hr

- if policy(@user).show?
  span.col-md-1
    = link_to 'Show', @user

  span.col-md-1.vertical-line
    = link_to 'Back', users_path
- else
  = link_to 'Back', users_path
