.jumbotron
  h1 Listing users

  / = simple_form_for :search, url: { action: :search }, method: :get, remote: true do |f|
  / = simple_form_for :search, url: search_users_path, method: :get, remote: true do |f|

  = simple_form_for :search, url: { action: :search }, method: :get do |f|
    = f.error_notification
    .form-inputs
      = f.input :query, required: false, placeholder: 'Search...',
        input_html: { name: :query, value: params[:query] }
    .form-actions
      = f.button :submit, 'Search', name: nil


= page_entries_info @users

br

= paginate @users


table.table.table-striped
  - @users.each do |user|
    thead
      tr
        th
        / Img
        th Name
        th Mail
        / TODO: remove duplication
        - if user.respond_to? :pg_search_highlight
          th Matches
        th
        / Buttons

    tbody
      tr
        td = image_tag user.avatar.url :small
        td = user.name
        td = user.email
        - if user.respond_to? :pg_search_highlight
          td = user.pg_search_highlight.html_safe
        td.btn-group
          - if policy(user).show?
            = link_to 'Show', user, class: 'btn btn-secondary btn-sm'

          - if policy(user).edit?
            = link_to 'Edit', edit_user_path(user), class: 'btn btn-secondary btn-sm'

          - if policy(user).destroy?
            = button_to 'Destroy', user, class: 'btn btn-secondary btn-sm',
                data: { confirm: 'Are you sure?' },
                method: :delete

hr

= link_to 'New User', new_user_path, class: 'btn btn-secondary'
