p
  = link_to image_tag(@user.avatar.url :large), @user.avatar.url

p
  strong Name:
  = @user.name

hr

- if policy(@user).edit?
  span.col-md-1
    = link_to 'Edit', edit_user_path(@user)

  span.col-md-1.vertical-line
    = link_to 'Back', users_path
- else
  = link_to 'Back', users_path
