body
  padding-top: 40px
  padding-bottom: 40px
  background-color: #eee

// hack a little
.navbar-right
  display: none

.content
  max-width: 330px
  padding: 15px
  margin: 0 auto

.form-auth-heading
  margin-bottom: 10px

form
  margin-bottom: 20px
  .checkbox
    margin-bottom: 10px
    font-weight: normal
    input
      &[type='checkbox']
        margin-right: 10px
  .form-control
    position: relative
    height: auto
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 10px
    font-size: 16px
    &:focus
      z-index: 2
  // TODO: split fields, make placeholders
  // input
  //   &[type="email"]
  //     margin-bottom: -1px
  //     border-bottom-right-radius: 0
  //     border-bottom-left-radius: 0
  //   &[type="password"]
  //     margin-bottom: 10px
  //     border-top-left-radius: 0
  //     border-top-right-radius: 0
