// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

// not round left side of button inside form inside button group
.btn-group
  form
    display: inline
    input
      &[type="submit"]
        margin-left: -1px
        border-top-left-radius: 0px
        border-bottom-left-radius: 0px
