footer.footer.bg-faded
  .container
    .row
      span.col-md-2.text-muted Copyright&nbsp;&copy;&nbsp;2016
      span.col-md-2.vertical-line
        a> href='mailto:pitometsu@gmail.com' Yuriy&nbsp;Pitomets
