.pos-f-t
  .navbar.navbar-light.navbar-static-top.bg-faded
    .container
      .navbar-header
        = link_to t(Rails.application.class.parent_name), root_path, class: 'navbar-brand'
      .navbar-right.pull-xs-right
        ul.nav.navbar-nav
          - if user_signed_in?
            - if current_user.avatar.present?
              li.nav-item
                = link_to image_tag(current_user.avatar.url :med), current_user.avatar.url
            li.nav-item
              = link_to current_user.login, edit_user_registration_path, class: 'nav-link'
            li.nav-item
              = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'
          - else
            li.nav-item
              = link_to 'Sign In', new_user_session_path, class: 'nav-link'
            li.nav-item
              = link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
