doctype html
html
  head
    title
      | Workspace
    / fix bootstrap tooltip
    script src='https://www.atlasestateagents.co.uk/javascript/tether.min.js'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head if content_for? :head
  body
    = render partial: '/layouts/header'
    .container
      / TODO: refactore duplicate condition!
      /       see: gem bootstrap_flash_messages
      - if notice.present? or alert.present?
        .container
          - if notice.present?
            p.notice #{ notice }
          - if alert.present?
            p.alert #{ alert }
      .container.content
        = yield
    = render partial: '/layouts/footer'
